<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent(content)">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div class="header">
        <th:block th:replace="~{common/header :: header}" />
    </div>
    <div class="container">
        <h1>컨텐츠 부분입니다</h1>
        <th:block th:replace = "${content}"></th:block>
    </div>


    <div class="footer">
        <th:block th:replace="~{common/footer :: footer}" />
    </div>
</body>
</th:block>
</html>